In [1]:
import refinitiv.data as rd
import datetime as dt
import pandas as pd

security = ['AUD=','NZD=','EUR=','GBP=','CAD=','CHF=','JPY=',
            'AUDNZD=R','EURAUD=R','GBPAUD=R','AUDCAD=R','AUDCHF=R','AUDJPY=R',
            'EURNZD=R','GBPNZD=R','NZDCAD=R','NZDCHF=R','NZDJPY=R',
            'EURGBP=R','EURCAD=R','EURCHF=R','EURJPY=R',
            'GBPCAD=R','GBPCHF=R','GBPJPY=R',
            'CADCHF=R','CADJPY=R','CHFJPY=R']

date_0 = '1996-01-01'
date_1 = '2023-12-31'

rd.open_session()
markets = rd.get_history(universe= security,
                         fields=['MID_PRICE'],
                     interval="1W", start=date_0, end=date_1
                    )

markets.head()

MID_PRICE,AUD=,NZD=,EUR=,GBP=,CAD=,CHF=,JPY=,AUDNZD=R,EURAUD=R,GBPAUD=R,...,EURGBP=R,EURCAD=R,EURCHF=R,EURJPY=R,GBPCAD=R,GBPCHF=R,GBPJPY=R,CADCHF=R,CADJPY=R,CHFJPY=R
Date,,,,,,,,,,,,,,,,,,,,,
1996-01-05,0.74775,0.65755,1.2843,1.5525,1.35835,1.1615,105.41,1.1372,1.71755,2.07625,...,0.82725,1.7445,1.4917,135.235,2.10885,1.80325,163.48,0.8551,77.52,90.655
1996-01-12,0.7435,0.66285,1.2813,1.5465,1.36305,1.163,105.25,1.12165,1.72335,2.07875,...,0.8285,1.7466,1.49015,134.855,2.1081,1.79855,162.77,0.85315,77.23,90.525
1996-01-19,0.73535,0.66425,1.2461,1.5075,1.366,1.1923,105.345,1.10705,1.69455,2.05005,...,0.8266,1.7022,1.4857,131.275,2.05925,1.79735,158.81,0.87285,77.12,88.355
1996-01-26,0.73735,0.66675,1.2255,1.502,1.38175,1.211,106.65,1.10585,1.66205,2.03705,...,0.8159,1.6933,1.4841,130.695,2.0754,1.81895,160.19,0.8764,77.18,88.065
1996-02-02,0.75765,0.67685,1.2383,1.5243,1.37595,1.21445,106.45,1.11935,1.6344,2.0119,...,0.8124,1.7038,1.50385,131.815,2.09735,1.8512,162.26,0.88265,77.36,87.655

In [2]:
# markets.rename(columns={markets.columns[0]:'value'}, inplace=True)

In [3]:
markets.tail()

MID_PRICE,AUD=,NZD=,EUR=,GBP=,CAD=,CHF=,JPY=,AUDNZD=R,EURAUD=R,GBPAUD=R,...,EURGBP=R,EURCAD=R,EURCHF=R,EURJPY=R,GBPCAD=R,GBPCHF=R,GBPJPY=R,CADCHF=R,CADJPY=R,CHFJPY=R
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-08,0.6578,0.61215,1.0763,1.2548,1.3589,0.87975,144.945,1.07455,1.63625,1.9076,...,0.85775,1.4626,0.94685,156.005,1.70515,1.1039,181.875,0.6474,106.665,164.755
2023-12-15,0.6697,0.6208,1.08955,1.26785,1.33815,0.8705,142.165,1.0788,1.62695,1.8932,...,0.85935,1.45795,0.94845,154.895,1.69655,1.10365,180.245,0.65055,106.24,163.315
2023-12-22,0.68,0.6293,1.1012,1.27015,1.3274,0.8557,142.425,1.0806,1.6194,1.8679,...,0.86695,1.4617,0.9423,156.835,1.686,1.08685,180.9,0.64465,107.295,166.445
2023-12-29,0.6811,0.6325,1.1037,1.2731,1.32475,0.8417,141.065,1.0768,1.6205,1.8692,...,0.86695,1.4621,0.929,155.69,1.68655,1.07155,179.59,0.63535,106.485,167.595
2024-01-05,0.6714,0.6241,1.0942,1.2718,1.3364,0.85,144.665,1.0758,1.6297,1.89425,...,0.86035,1.46225,0.9301,158.27,1.69965,1.08105,183.96,0.63605,108.235,170.17

In [4]:
markets.shape

(1462, 28)

In [5]:
markets.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1462 entries, 1996-01-05 to 2024-01-05
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   AUD=      1462 non-null   Float64
 1   NZD=      1462 non-null   Float64
 2   EUR=      1462 non-null   Float64
 3   GBP=      1462 non-null   Float64
 4   CAD=      1462 non-null   Float64
 5   CHF=      1462 non-null   Float64
 6   JPY=      1462 non-null   Float64
 7   AUDNZD=R  1462 non-null   Float64
 8   EURAUD=R  1462 non-null   Float64
 9   GBPAUD=R  1462 non-null   Float64
 10  AUDCAD=R  1462 non-null   Float64
 11  AUDCHF=R  1462 non-null   Float64
 12  AUDJPY=R  1462 non-null   Float64
 13  EURNZD=R  1462 non-null   Float64
 14  GBPNZD=R  1462 non-null   Float64
 15  NZDCAD=R  1462 non-null   Float64
 16  NZDCHF=R  1462 non-null   Float64
 17  NZDJPY=R  1462 non-null   Float64
 18  EURGBP=R  1462 non-null   Float64
 19  EURCAD=R  1462 non-null   Float64
 20  EURCHF=R  1462 non-null   Float64
 21  EURJPY=R  1462 non-null   Float64
 22  GBPCAD=R  1462 non-null   Float64
 23  GBPCHF=R  1462 non-null   Float64
 24  GBPJPY=R  1462 non-null   Float64
 25  CADCHF=R  1462 non-null   Float64
 26  CADJPY=R  1462 non-null   Float64
 27  CHFJPY=R  1462 non-null   Float64
dtypes: Float64(28)
memory usage: 371.2 KB

In [6]:
markets.to_csv('ccy1996_to_2023')